
.textobolo{
    text-align: center;
    font-size: 50px;
}
#receitadestaque{
    text-align: center;
    font-size: 25px;
}
body{
    background: linear-gradient(to bottom, peachpuff, sienna);
}
.imagembolo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.link{
    text-align: center;
    font-size: 35px;
}
#ingredientes{
    margin-top: 150px;
    text-align: center;
}
.listaingredientes{
    text-align: center;
    margin-right: 30px;
    padding: 0;
    margin: 0;
}