@import url('https://fonts.googleapis.com/css2?family=Chango&family=Vast+Shadow&display=swap');
.title{
    font-size: 50px;
    font-family: Chango;
    text-align: center;
}
.intro{
    text-align: center;
    font-size: 20px;
}
.textobolo{
    text-align: left;
    font-size: 50px;
}
#receitadestaque{
    text-align: left;
    font-size: 25px;
}
body{
    background: linear-gradient(to bottom, peachpuff, sienna);
}
.imagens{
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 25%;
    background-color: dodgerblue ;
    border: 15px solid darkseagreen;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0px 10px;
}
.link{
    text-align: center;
    font-size: 35px;
}
#ingredientes{
    margin-top: 150px;
    text-align: center;
}
.listaingredientes{
    text-align: center;
    margin-right: 30px;
    padding: 0;
    margin: 0;
}
.navegacao{
    text-align: center;
    font-size: 25px;
    padding: 15px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 23px;
    align-items: center;
    flex-direction: column;
}
.navegacao a{
    color:darkgoldenrod;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0px 10px;
    background-color: aliceblue;
}
footer{
    text-align: center;
    font-weight: bold;
}
table{
    font-size: 20px;
    text-align: left;
    padding: 20px 50px 80px 0px;
    border-collapse:separate;
  border-spacing: 50px 10px;
  background-color: darkseagreen;
   border: 15px solid dodgerblue;
    border-radius: 10px;
}